# Logs
logs
*.log
npm-debug.log*

# Environment & Credentials
.env

# Dependency directories
node_modules
frontend/node_modules

# Build outputs
dist
frontend/dist
public/

# Runtime data
pids
*.pid
*.seed
.npm
.idea/
.node_repl_history
